/* Estilo general del dashboard */
.main-container {
  display: flex;
  min-height: 100vh;
}

/* Estilo para el contenido principal */
.main-content {
  flex-grow: 1;
  margin-left: 20%; /* Espacio que ocupa el sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

/* Ajuste cuando el sidebar está cerrado */
.sidebar.closed ~ .main-content {
  margin-left: 0;
}

/* Estilos para la tabla en modo claro */
.table {
  background-color: white !important; /* Fondo blanco para el tema claro */
  color: black !important; /* Texto negro */
  border: 1px solid #cccccc !important;
}

.table th,
.table td {
  padding: 8px !important;
  text-align: left !important;
}

/* Estilos para la tabla en modo oscuro */
.dark-mode .table {
  background-color: #1e1e1e !important; /* Fondo oscuro */
  color: white !important; /* Texto blanco */
  border-color: #ffffff !important; /* Bordes más oscuros */
}

.dark-mode .table th,
.dark-mode .table td {
  color: rgb(255, 255, 255)  !important;
  border-color: #ffffff !important; /* Bordes más oscuros */
  background-color: black !important;
}

/* src/styles/Theme.css */

/* Estilos para el tema claro */
.btn {
  background-color: #007bff ; /* Color de botón primario por defecto */
  color: white ;
}

.btn-warning {
  background-color: #ffc107  !important; /* Color del botón de advertencia */
  color: rgb(255, 255, 255) !important;
}

.btn-danger {
  background-color: #dc3545  !important; /* Color del botón de eliminar */
  color: white  !important;
}

/* Estilos para el tema oscuro */
.dark-mode .btn {
  background-color: #000000  !important; /* Color de botón primario en modo oscuro */
  color: rgb(255, 255, 255)  !important;
  border-color: white;
}

.dark-mode .btn-warning {
  background-color: #000000  !important; /* Color del botón de advertencia en modo oscuro */
  color: rgb(255, 255, 255)  !important;
  border-color: white;
}

.dark-mode .btn-danger {
  background-color: #000000  !important; /* Color del botón de eliminar en modo oscuro */
  color: rgb(255, 255, 255)  !important;
  border-color: white;
}

.dark-mode .form-group {
  background-color: #131212 !important; /* Color de fondo en modo oscuro */
  color: rgb(255, 255, 255) !important;
  
}
.dark-mode .modal{
  color: #000000 !important;
}
/* Responsive: Ocultar sidebar en pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar ~ .main-content  {
    margin-left: 40%;
    font-size: 13px;
    overflow-x: hidden !important;
  }
  .btn-primary{
    font-size: 10px !important;  /* Ajusta el tamaño del texto en pantallas pequeñas */
    padding: 8px 10px !important; /* Ajusta el padding */
    width: 100% !important;       /* El botón ocupa todo el ancho disponible */
    margin-bottom: 10px !important;  /* Espacio entre botones */
    /* Flexbox para centrar el contenido */
    display: flex !important;
    justify-content: center !important; /* Centra horizontalmente */
    align-items: center !important;     /* Centra verticalmente */
  }
  .btn-warning, .btn-danger{
    font-size: 10px !important;  /* Ajusta el tamaño del texto en pantallas pequeñas */
    padding: 8px 10px !important; /* Ajusta el padding */
    width: 80% !important;       /* El botón ocupa todo el ancho disponible */
    margin-bottom: 10px !important;  /* Espacio entre botones */
    /* Flexbox para centrar el contenido */
    display: flex !important;
    justify-content: center !important; /* Centra horizontalmente */
    align-items: center !important;     /* Centra verticalmente */
  }
  .col_estado {
    display: none;
  }
  .col_rol {
    display: none;
  }
}